 

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>More Than Shirts</h1>
                    <h3>A Promotional Products Company</h3>
					  <hr class="intro-divider">
					  <%= render :partial => 'contact'  %>	
					
                  
                    
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

  

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small">Copyright &copy; More Than Shirts 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
